<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="icon" href="icon.png">
</head>
<body bgcolor="#007acc">
<hr>
<font size="5">
    <center><b>SPRING BOOT CALCULATOR</b></center>
</font>
<br>

<hr>
<font size="4">
    <center>RESULT: <p type="text" th:text="${result}"></center>
</font>
<br>
<center>
    <form method="post" th:action="@{/}" th:object="${operationModel}">
        <input type="text" th:field="*{a}" placeholder="0">
        <input type="text" th:field="*{b}" placeholder="0">
        <br>
        <font size="4">CHOOSE OPERATION:</font>
        <br>
        <input type="submit" class="button" name="add" value="&#8721;">
        <input type="submit" class="button" name="sub" value="&#8722;">
        <input type="submit" class="button" name="mul" value="&#xd7;">
        <input type="submit" class="button" name="div" value="&#8725;">
        <input type="submit" class="button" name="sqr" value="x&#178;">
        <input type="submit" class="button" name="pow" value="x&#8319;">
        <input type="submit" class="button" name="sqrt" value="&#8730;">
        <input type="submit" class="button" name="cbrt" value="&#8731;">
        <input type="submit" class="button" name="fac" value="&#33;">
        <input type="submit" class="button" name="mod" value="&#x25;">
        <br>
    </form>
</center>
<hr>
<br>

</body>
</html>